.standard-padding {
  padding: var(--standard-padding);
}

.example, .api {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--standard-padding);
  border-radius: 16px;
  gap: 1rem;
  background: var(--bg-surface-tint);
  
  h2 {
    margin: 0;
    font-size: 1.5rem;
  }

  h3 + hr {
    margin-top: 0.5rem;
  }

  @media (max-width: 768px) {
    padding: 1rem;
  }

  .code-block + * {
    margin-top: 1rem;
  }
}

.api {
  gap: 0;

  h3.code {
    font-size: 1.2rem;
    color: var(--btn-primary-hover);
  }

  h4 {
    font-size: 1.1rem;
    &.code {
      color: var(--btn-primary-hover);
    }
  }

  dt {
    font-weight: 600;
    margin-top: 0.5rem;
    font-size: 0.9em;
  }
}

.card-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: none;
  border: none;
  padding: 0.25rem 0;
  cursor: pointer;
  text-align: left;
  gap: 1rem;
  outline-offset: 6px;
  outline-color: transparent;

  &:focus-visible {
    outline: 3px solid var(--btn-primary-hover);
  }

  h3, h4 {
    flex: 1;
    margin-bottom: 0;
    align-self: start;
  }

  .chevron {
    transition: transform var(--ps-open-speed) var(--ps-open-timing);
    will-change: transform;
    flex-shrink: 0;
    color: var(--text-muted);
    transform: rotate(-90deg);
  }

  &[aria-expanded="true"] .chevron {
    transform: rotate(90deg);
  }
}

.column {
  display: flex;
  flex-direction: column;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}

.card.no-padding {
  transition: all var(--ps-open-speed) var(--ps-open-timing);

  padding: 0;
  gap: 0;

  &:has(> button[aria-expanded="true"]) {
    background: var(--bg-surface-tint);
    background: var(--demo-btn-bg);
    border-color: var(--border-default)
  }

  button.card-trigger {
    padding: var(--padding-medium);

    h3, h4 {
      background: none;
      padding: 0;
      color: var(--text-muted);
      line-height: 1.5;
    }
  }
  .panel-wrapper {
    padding-top: 0;
  }
  
  .card-content {
    padding: var(--padding-medium);
    border-top: 1px solid var(--border-default);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.demo, .card.demo {
  position: relative;
  background: var(--demo-surface-tint);
  border-radius: 8px;
  padding: var(--standard-padding);

  border: 3px solid var(--special-normal);

}
.example.demo {
  background: var(--demo-surface-tint);
}

.grid-2,
.grid-3 {
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  & > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

@container (max-width: 600px) {
  .grid-2,
  .grid-3 {
    grid-template-columns: 1fr;
  }
}

.card-row {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;


  @container (min-width: 800px) {
    flex-direction: row;
    .card {
      word-break: break-word;
    }
  }
}

.card {
  flex: 1;
  border-radius: 8px;
  padding: 1rem;
  background: var(--bg-surface-tint-contrast);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 3px solid transparent;

  * + h3,
  * + h4 {
    margin-top: var(--padding-medium);
  }

  ul + * {
    margin-top: var(--padding-small);
  }

  .card {
    background: var(--bg-surface);
  }
}
.btn.bottom {
  margin-top: auto;
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5;
  min-height: 40px;
  cursor: pointer;
  font-weight: 500;

  transition: all 0.2s ease-in-out;

  &.solid {
    background: var(--btn-primary-bg);
    color: var(--btn-primary-text);
    transition: background-color 0.2s;
    outline-offset: 2px;

    &:hover {
      background: var(--btn-primary-hover);
    }
  }

  &.chevron {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding-right: 0.5rem;
    justify-content: space-between;
    align-self: flex-start;

    .card &, &.block {
      align-self: auto;
    }

    svg.chevron {
      stroke-width: 1.44px;
      transform: translateX(-4px);
      transition: transform 0.2s ease-in-out;
      will-change: transform;
    }

    &:not(:has(svg)) {
      padding-right: 1rem;
    }

    &.back {
      padding-right: 1rem;
      padding-left: 0.5rem;

      svg.chevron {
        transform: translateX(4px);
      }
    }
    &.icon-left {
      padding-left: 0.5rem;
    }
  }

  &:hover {
    text-decoration: none;
    svg.chevron {
      transform: translateX(4px);
    }

    &.back svg.chevron {
      transform: translateX(-4px);
    }
  }
}

.demo-controls {
  display: flex;
  gap: 1rem;
  margin-bottom: var(--standard-padding);
  flex-wrap: wrap;

  &.center {
    justify-content: center;
  }

  [data-panelset] + & {
    padding-top: var(--standard-padding);
    margin-bottom: 0;
  }
}

.demo button {
  border: 3px solid var(--special-normal);
  background: var(--demo-btn-bg);
  color: var(--special-hover);
  padding: 0.25rem 1rem;
  border-radius: 24px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
  outline-offset: 1px;

  &:hover {
    box-shadow: 0 4px 8px var(--special-shadow);
  }
  &:hover, &:focus-visible {
    border-color: var(--special-hover);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}


button[aria-expanded="false"] .when-open,
button[aria-expanded="true"] .when-closed {
  display: none;
}

.raw-demo {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 16px;
  // border: 1px dashed var(--text-default);
  padding: 2px;

  [data-panel], [data-panelset] {
    background: white;
    


    .panel-wrapper {
      padding-top: 0;
    }
  }


  button {
    all: revert;
    font-size: 1rem;
    border-radius: 0;
    // border: initial;
    // background: initial;
    color: var(--text-default);
    cursor: pointer;
    font-family: Georgia, "Times New Roman", serif;
    &:hover {
      text-decoration: underline;
      box-shadow: none;
      border-color: black
    }
  }

  h1, h2, h3, h4 {
    color: var(--text-default);
  }

  .raw-demo-triggers {
    display: block;
  }

  ul, ul li {
    all: revert;
    color: var(--text-default);
  }
  ul li:before {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
    .raw-demo {
      [data-panel], [data-panelset] {
        background: black;
      }
    }
}
