.alignment-demos {
	container-type: inline-size;
	gap: 2rem;

	.demo {
		padding: 0;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		&:has([data-panel-axis="horizontal"]) {
			flex-direction: row;
		}
	}

	.demo-body {
		flex: 1;
		min-width: 0;
	}

	.demo-body, .panel-wrapper {
		padding: 1rem;
	}

	[data-panel] {
		--ps-open-timing: ease-in-out;
		--ps-close-timing: ease-in-out;
		--ps-panel-width: 200px;

		background: var(--demo-surface);

		&.is-open, &.is-opening, &.is-closing{
			border-bottom: 1px solid var(--border-default);
		}

		&[data-panel-axis="horizontal"] {
			border-bottom: none;
			flex-shrink: 0;

			&.is-open, &.is-opening, &.is-closing{
				border-right: 1px solid var(--border-default);
			}
		}
	}

	[data-panel-body] + [data-panel-axis="horizontal"] {
		

		&.is-open, &.is-opening, &.is-closing {
			border-right: none;
			border-left: 1px solid var(--border-default);
		}
	}
}

.flex {
	display: flex;
	gap: 1rem;
	&.vertical {
		flex-direction: column;
	}
}
