.docs-layout {
	display: grid;
	grid-template-columns: var(--doc-sidebar-width) minmax(0, 1fr);
	min-height: 100vh;
}

.lane, section {
	padding: 3rem 0;
}

.lane.hr {
	padding: 0;
}

section {
	.container:first-child {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: -3rem;
			left: var(--standard-padding);
			right: var(--standard-padding);
			width: calc(100% - var(--standard-padding) * 2);
			height: 1px;
			background: var(--border-default);
		}
	}
	&.no-hr {
		.container:first-child:before {
			display: none;
		}
	}
	& + hr {
		margin: 0;
	}
}

.container {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 var(--standard-padding);
	display: flex;
	flex-direction: column;
	container-type: inline-size;
	gap: 1rem;

	& + & {
		margin-top: 2rem;
	}
}

.avatar {
	max-width: 230px;
	border-radius: 0.5rem;
}

.docs-content {
	width: 100% !important;
	display: flex;
	flex: 1;
	flex-direction: column;

	.page-header {
		.lead {
			font-size: 1.5rem;
			font-weight: 350;
			color: var(--text-muted);
		}
	}
}

@media (max-width: 768px) {
	.docs-layout {
		grid-template-columns: 1fr;
		width: 100% !important;
	}
	.docs-content {
		width: 100% !important;
		min-width: 300px;
	}
}

.borderbox {
	border: 1px solid var(--border-default);
	border-radius: 16px;
	padding: 1rem;
}

button + [data-panel] .panel-wrapper,
button + ps-panel .panel-wrapper {
	padding: 0;
	padding-top: var(--standard-padding);
}

footer {
	margin-top: 3rem;
}
