
.tab-content {
	padding: 1.5rem;
	background: var(--bg-surface);
	border-radius: 6px;
	
	.demo & {
		background: var(--demo-surface);
	}
}


.tabs {

	display: flex;
	padding-left: 0.5rem;
	padding-right: 0.5rem;

	button {
		background: transparent;
		border: none;
		padding: 0.75rem 1.5rem;

		border-radius: 1px;
		outline-offset: 3px;
		outline-width: 3px;

		position: relative;
		color: var(--tab-text-normal);
		font-size: 1.1rem;
		font-weight: 600;
		transition: color 0.125s;

		cursor: pointer;

		&:before {
			content: "";
			position: absolute;
			inset: 0;
			width: 100%;
			height: 3px;
			opacity: 1;
			background: transparent;
			transition: background-color 0.125s;
			bottom: 0;
			top: auto;
			z-index: 1;
		}

		&:focus-visible {
			z-index: 1;
		}

		&:hover {
			background: none;
			box-shadow: none;
			color: var(--tab-text-hover);

			&:before {
				background: var(--tab-underline-hover);
			}
		}

		&[aria-selected="true"]{
			color: var(--tab-text-active);
			pointer-events: none;

			&:before {
				background: var(--tab-underline-active);
			}

		}
	}

}
