extends /views/templates/layouts/_base

append variables
	- pagetitle = "About / Buy me a coffee"

block content
	.lane
		.container
			.page-header
				h1 About

	.lane
		.container
			p PanelSet is a small open-source library built and maintained by Martinomagnifico&nbsp;(Yeah I know, but 'Martino' was already taken on GitHub). 
			img(src="/img/martino.png" alt="Martinomagnifico" class="avatar")

			p I built it because I needed a (non-Angular, non-React) panel switcher for my projects. Preferably one where the height is not set on the element for every millisecond or frame by some JavaScript. Something that just works, without the need for nasty workarounds. Something that has the same core transition principles for collapses and other panels. So I decided to create PanelSet. And share it with the community.

			p You may share it, change it, fork it, use it in your projects, or (please!) contribute to its development.

			p If you like PanelSet and want to support its development, consider buying me a coffee. #[em I need the coffee].

			a.btn.solid.chevron(href="https://ko-fi.com/martinomagnifico" target="_blank" rel="noopener") 
				| Buy me a coffee. As you can see, I really need it
				+chevron()