extends /views/templates/layouts/_nosidebar

append variables
	- pagetitle = "PanelSet"
	- page.class = 'index'
	- ee = true

block content
	.container
		h1 
			+logoicon
			| PanelSet
		p.lead Flexible panel management with smooth transitions. ~7.5&nbsp;KB gzipped.

		a.btn.chevron(href="intro.html") 
			| Check out the docs and examples
			+chevron()

		.card.demo.no-gap
			.demo-controls.center
				button(aria-controls="indexdemo-panel-1") Short panel
				button(aria-controls="indexdemo-panel-2") Medium panel
				button(aria-controls="indexdemo-panel-3") Tall panel
			+examplepanelset('indexdemo')


	footer
		p #[a(href="about.html") About] • Open source • MIT License • TypeScript Ready • #[a(href="https://ko-fi.com/martinomagnifico") Buy me a coffee]

append scripts
	if isProd
		script(src=`${basePath}assets/scripts/example.js` vite-ignore)
		script(src=`${basePath}lib/panelset.js` vite-ignore)
		script.
			PanelSet.init();
	else
		script(type="module" src="/src/assets/scripts/example.js")
		script(type="module").
			import PanelSet from 'panelset';
			PanelSet.init({debug: true });

