extends /views/templates/layouts/_nosidebar

append variables
	- pagetitle = "PanelSet"
	- page.class = 'index'
	- ee = true

block content
	.container
		h1 
			+logoicon
			| PanelSet
		div
			p.lead Flexible panel management with smooth transitions. ~10&nbsp;kB gzipped.

		a.btn.solid.chevron(href="intro.html") 
			| Check out the docs and examples
			+chevron()

		
		.card.demo.no-gap
			+examplepilltabs('indexdemo')(data-panelcontrol data-activation="auto").center
			+examplepanelset('indexdemo', false, 2)


	footer
		p #[a(href="about.html") About] • Open source • MIT License • TypeScript Ready • #[a(href="https://ko-fi.com/martinomagnifico") Buy me a coffee]

append scripts
	if isProd
		script(src=`${basePath}lib/panelset.js` vite-ignore)
		script.
			PanelSet.init();
			PanelControl.init();
	else
		script(type="module").
			import { PanelSet, PanelControl } from 'panelset';
			PanelSet.init({debug: true });
			PanelControl.init({debug: true });

