extends /views/templates/layouts/_base

append variables
	- pagetitle = "Intro"

block content
	.lane
		.container
			.page-header
				h1 PanelSet
				p.lead One panel or many. CSS does the animating.

	.lane
		.container
			p This package exports two independent classes: #[strong Panel] and #[strong PanelSet]. Both animate a dimension (height or width) between sizes using an #[a(href="/how-it-works.html#the-lockmeasureanimateunlock-lmau-cycle") LMAU]* cycle.

			p * LMAU: Lock-Measure-Animate-Unlock #[span.small (I should trademark the term)].

			p Both classes use the same animation core and share most config options. Animation is CSS-only: JS measures and sets pixel values, then hands off to the browser. For async content, pass a promise to #[code onBeforeOpen()] to hold the open until it resolves. A spinner kicks in if loading takes longer than #[code loadingDelay]ms. Both also handle focus management.



			br

			.grid-2
				.card
					+anchor Panel
					p A single element that can be #[strong opened and closed]. Use it for sidebars, show-more blocks, accordions, or any element that expands and collapses.
					p Triggers are any element with #[code aria-controls] pointing to the panel's ID. Any close buttons use #[code data-panel-close].
					//-a.btn.bottom.chevron.solid(href="/panel/getting-started.html") 
						| Panel docs
						svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true")
							polyline(points="9 6 15 12 9 18")




				.card
					+anchor PanelSet
					p A container that #[strong switches between] some panels. Use it for tabs, wizards, or multi-step interfaces.
					p Only one panel is (fully) visible at a time. The container quietly animates its own height to match the incoming panel. 
					p It can also be opened and closed as a whole, just like a regular Panel.
					//-a.btn.bottom.chevron.solid(href="/panelset/getting-started.html") 
						| PanelSet docs
						svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true")
							polyline(points="9 6 15 12 9 18")



				div
					h3 Example
					.demo
						button(aria-controls="intro-panel" aria-expanded="false") Toggle panel

						div#intro-panel(data-panel data-panel-axis="vertical" class="is-closed")
							.panel-wrapper
								h3 Key Features
								ul
									li This is our most important feature ever!

					a.btn.bottom.chevron.solid.block(href="/panel/getting-started.html") 
						| Panel docs
						svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true")
							polyline(points="9 6 15 12 9 18")



				div
					h3 Example
					.demo
						.demo-controls
							button(aria-controls="intro-ps-panel-1") Features
							button(aria-controls="intro-ps-panel-2") Pricing
							button(aria-controls="intro-ps-panel-3") Support
						+examplepanelset('intro-ps')

					a.btn.bottom.chevron.solid.block(href="/panelset/getting-started.html") 
						| PanelSet docs
						svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true")
							polyline(points="9 6 15 12 9 18")




	hr

	.lane
		.container
			+anchor Installation

			h3 Using NPM and imports

			.code-block
				.code-header Terminal
				pre
					code npm install panelset

			+codeblock('JS').
				import { Panel, PanelSet } from 'panelset';
				import 'panelset/style.css';

			h3 Using the normal JS and CSS files
			p Download the latest CSS and JS files from the #[a(href="https://github.com/your-repo/panelset") GitHub repository]. Import it like this:

			+codeblock('HTML')
				link(rel="stylesheet" href="path/to/panelset.css")
				script(src="path/to/panelset.js")


	hr

	.lane
		.container

			+anchor Support this project

			p PanelSet is free. If it saved you time, a coffee goes a long way.

			a.btn.solid.chevron(href="https://ko-fi.com/martinomagnifico" target="_blank" rel="noopener")
				| ☕ Support my work on Ko-fi
				svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true")
					polyline(points="9 6 15 12 9 18")



append scripts
	if isProd
		script(src="/assets/scripts/example.js" vite-ignore)
		script(src="/lib/panelset.js" vite-ignore)
		script.
			PanelSet.init();
			new Panel('#intro-panel');
	else
		script(type="module" src="/src/assets/scripts/example.js")
		script(type="module").
			import { PanelSet, Panel } from 'panelset';
			PanelSet.init({ debug: true });
			new Panel('#intro-panel', { debug: true });
