extends /views/templates/layouts/_base

append variables
	- pagetitle = "Show more"

block content
	.lane
		.container
			.page-header
				h1 Show more
				p.lead A vertical panel that expands to reveal hidden content.


	+section("Live demo")

			p The simplest use of #[code Panel]: a block of text with a "Show more" button that reveals additional content below. The panel starts closed (#[code class="is-closed"]) and expands vertically when triggered.

			p Note that when a trigger and panel are adjacent, and the trigger has a #[code data-panel-trigger] attribute, you no longer need to create ID's, because #[code Panel] automatically does that for you.

			.card
				.demo
					button(data-panel-trigger) Show more
					.is-closed(data-panel)
						.panel-wrapper
							p Additional content that was hidden. It can be as long as needed. The panel animates to its natural height. If we make this text long, it might wrap to multiple lines.

				+codeblock('HTML')
					button(data-panel-trigger) Show more
					.is-closed(data-panel)
						.panel-wrapper
							p Additional content that was hidden. It can be as long as needed. The panel animates to its natural height. If we make this text long, it might wrap to multiple lines.


	+section("Changing the trigger")
		p In the below example, the button label changes between "Show more" and "Show less" using an #[code aria-expanded]-driven CSS rule. No JavaScript required.

		.card
			.demo
				button(data-panel-trigger)
					span.when-closed Show more
					span.when-open Show less
				.is-closed(data-panel)
					.panel-wrapper
						p Additional content that was hidden. It can be as long as needed — the panel animates to its natural height. If we make this text long, it might wrap to multiple lines.

			+codeblock('HTML')
				button(data-panel-trigger)
					span.when-closed Show more
					span.when-open Show less
				.is-closed(data-panel)
					.panel-wrapper
						p Additional content that was hidden. It can be as long as needed — the panel animates to its natural height. If we make this text long, it might wrap to multiple lines.

			+codeblock('CSS').
				button[aria-expanded="false"] .when-open,
				button[aria-expanded="true"] .when-closed { display: none; }



append scripts
	if isProd
		script(src=`${basePath}lib/panelset.js` vite-ignore)
		script.
			Panel.init('.docs-content [data-panel]');
	else
		script(type="module").
			import { Panel } from 'panelset';
			Panel.init('.docs-content [data-panel]', { debug: true });
